{% extends "web/base.html" %}
{% load static %}
{% block content %}

<!-- td-breadcrumb-area-start -->
<div class="td-breadcrumb-area td-breadcrumb-spacing bg-position" data-background="{% static 'web/assets/img/breadcrumb/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="td-breadcrumb-title-wrap">
                    <h2 class="td-breadcrumb-title mb-10  wow td-animetion-left" data-wow-duration="1.5s" data-wow-delay="0.2s">Clubs</h2>
                    <div class="td-breadcrumb-list wow td-animetion-right" data-wow-duration="1.5s" data-wow-delay="0.2s">
                        <ul>
                            <li><a href="{% url 'web:index' %}">Home</a></li>
                            <li><i class="fa-sharp fa-solid fa-angle-right fa-fw"></i></li>
                            <li class="pages">Clubs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- td-breadcrumb-area-end -->



<!-- td-club-area-start -->
<div class="td-cetagory-area p-relative z-index-1 fix pt-80 pb-80">
    <div class="td-hero-4-blur td-team-5-blur"></div>
    <div class="td-hero-4-blur td-hero-4-blur-2 td-team-5-blur-2"></div>
    <div class="container">
        
        <div class="row">
            <div class="td-about-title-wrap text-center mb-30 wow fadeInUp" data-wow-duration=".9s" data-wow-delay=".4s">
                <h2 class="td-section-title">The Power of Community.</h2>
                <p class="td-subtitle">A network that empowers visionaries across industries.</p>
            </div>
            
            {% for club in clubs %}
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="td-cetagory-item mb-30 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="0.3s">
                    <div class="td-cetagory-thumb p-relative">
                        <img src="{{ club.image.url }}" alt="{{ club.name }}">
                        <div class="td-cetagory-content">
                            <div class="d-flex justify-content-between">
                                <div class="td-cetagory-tittle-wrap mr-10 d-flex justify-content-center align-items-center">
                                    <h5 class="td-cetagory-tittle mb-0"><a href="{{ club.get_absolute_url }}">{{ club.name }}</a></h5>
                                </div>
                                <div class="td-cetagory-btn">
                                    <a class="td-left-right text" href="{{club.get_absolute_url}}">
                                        <span class="td-arrow-angle">
                                            <svg class="td-arrow-svg-top-right" width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="currentColor" />
                                                <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="currentColor" />
                                            </svg>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- td-club-area-end -->

{% endblock %}