{% extends "web/base.html" %}
{% load static %}
{% block content %}

<!-- td-breadcrumb-area-start -->
<div class="td-breadcrumb-area td-breadcrumb-spacing bg-position" data-background="{% static 'web/assets/img/breadcrumb/breadcrumb.jpg' %}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="td-breadcrumb-title-wrap">
                    <h2 class="td-breadcrumb-title mb-10  wow td-animetion-left" data-wow-duration="1.5s" data-wow-delay="0.2s">Events</h2>
                    <div class="td-breadcrumb-list wow td-animetion-right" data-wow-duration="1.5s" data-wow-delay="0.2s">
                        <ul>
                            <li><a href="{% url 'web:index' %}">Home</a></li>
                            <li><i class="fa-sharp fa-solid fa-angle-right fa-fw"></i></li>
                            <li class="pages">Events</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- td-breadcrumb-area-end -->

    
<!-- td-event-area-start -->
<div class="td-schedule-area pt-80 pb-80 bg-position" data-background="{% static 'web/assets/img/schedule/schedule-4/bg.jpg' %}">
    <div class="container">
        
        <div class="row">
            <div class="td-about-title-wrap text-center mb-30  wow fadeInUp" data-wow-duration=".9s" data-wow-delay=".4s">
                <h2 class="td-section-title">Moments That Make History.</h2>
                <p class="td-subtitle">Bixji hosts national events such as:</p>
            </div>
            <div class="tp-contact-form-wrapper tp-black-bg9  tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade active show" id="v-pills-home1" role="tabpanel" aria-labelledby="v-pills-home1-tab">
                    {% for event in events %}
                    <div class="td-schedule-3-wrap mb-30">
                        <div class="row align-items-center">
                            <div class="col-xl-4 col-lg-5">
                                <div class="td-schedule-3-thumb p-relative">
                                    <a href="{{event.get_absolute_url}}">
                                        <img class="w-100" src="{{event.image.url}}" alt="{{event.title}}">
                                    </a>
                                    <span class="td-schedule-2-date"><i class="flaticon-calendar"></i> {{event.date_time|date:"M d, Y"}}</span>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-7">
                                <div class="td-schedule-3-content">
                                    <h2 class="td-schedule-3-title"><a href="{{event.get_absolute_url}}">{{event.title}}</a></h2>
                                    <div class="td-schedule-3-destination mb-10">
                                        <span class="mr-25">
                                            <i class="flaticon-gps"></i>
                                            {{event.location}}
                                        </span>
                                        <span>
                                            <i class="flaticon-time"></i>
                                            {{event.date_time}}
                                        </span>
                                    </div>
                                    <p class="mb-25 para">{{event.description|safe|truncatechars:280}}</p>
                                    <div class="td-schedule-3-btn d-flex align-items-center flex-wrap">
                                        <div class="td-schedule-3-user-wrap d-flex align-items-center">
                                            <span class="td-schedule-3-user mr-10">
                                                <img src="{{event.author_image.url}}" alt="{{event.author}}">
                                            </span>
                                            <div>
                                                <h6 class="name">{{event.author}}</h6>
                                                <span class="position">Author</span>
                                            </div>
                                        </div>
                                        <span class="dvdr"></span>
                                        <a class="td-btn td-btn-3-squre td-left-right text3 mr-25" href="{{event.get_absolute_url}}">
                                            <span class="mr10 td-text d-inline-block mr-5">Buy Ticket</span>
                                            <span class="td-arrow-angle">
                                                <svg class="td-arrow-svg-top-right" width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                                                    <path d="M0.943836 13.5C0.685616 13.5 0.45411 13.4021 0.276027 13.224C0.0979452 13.0459 0 12.8055 0 12.5562C0 12.3068 0.0979452 12.0664 0.276027 11.8884L9.76781 2.38767H2.02123C1.49589 2.38767 1.0774 1.96027 1.0774 1.44384C1.0774 0.927397 1.50479 0.5 2.03014 0.5H12.0562C12.1274 0.5 12.1986 0.508904 12.2788 0.526712L12.4034 0.562329L12.537 0.633562C12.5637 0.65137 12.5993 0.678082 12.626 0.69589C12.6973 0.749315 12.7507 0.80274 12.7952 0.856164C12.8219 0.891781 12.8575 0.927397 12.8842 0.989726L12.9555 1.1411L12.9822 1.22123C13 1.29247 13.0089 1.3726 13.0089 1.44384V11.4699C13.0089 11.9952 12.5815 12.4137 12.0651 12.4137C11.5486 12.4137 11.1212 11.9863 11.1212 11.4699V3.72329L1.62055 13.224C1.44247 13.4021 1.20205 13.5 0.943836 13.5Z" fill="white" />
                                                </svg> 
                                            </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- td-event-area-end -->
{% endblock %}